@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.group2 {
  width: auto;
  height: auto;
  outline: none;
  border: none;
}

.header {
  width: 1400px;
  height: 150px;
  border-radius: 10px;
  margin-left: -10px;
}
.groupName3 {
  color: white;
  font-size: 60px;
  text-align: center;
  padding-top: 20px;
  font-family: "Poppins", sans-serif;
  text-shadow: 0 0 2px black;
}
.header2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 1px solid black;
  height: auto;
}
.groupField {
  font-size: 25px;
  padding: 10px;
  width: 70%;
  font-family: "Source Sans Pro", sans-serif;
  font-style: italic;
  font-weight: 600;
}
.followBtn {
  width: 150px;
  height: 40px;
  color: white;
  border-radius: 20px;
  border: none;
  background: rgb(138, 98, 156);
  background: linear-gradient(
    90deg,
    rgba(138, 98, 156, 1) 0%,
    rgba(10, 6, 10, 1) 0%,
    rgba(117, 32, 107, 1) 81%,
    rgba(203, 55, 185, 1) 100%
  );
  padding: 10px;
  margin-top: 10px;
  font-size: 25px;
  margin-left: auto;
}
.postQuestion {
  width: 1000px;
  height: 220px;
  border: 1px solid gray;
  padding: 20px;
  border-radius: 20px;
  margin-left: 150px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.queInputTag {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  padding: 10px;
  color: #ff3399;
  margin-top: -5px;
}
.inputQuestion {
  width: 980px;
  height: 100px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.5);
}
.submitQuestion {
  width: 150px;
  height: 40px;
  color: white;
  border-radius: 20px;
  border: none;
  background: rgb(138, 98, 156);
  background: linear-gradient(
    90deg,
    rgba(138, 98, 156, 1) 0%,
    rgba(10, 6, 10, 1) 0%,
    rgba(117, 32, 107, 1) 81%,
    rgba(203, 55, 185, 1) 100%
  );
  padding: 10px;
  font-size: 25px;
  margin-left: 800px;
}

.groupBottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
