.homePage {
  height: 500vh;
  width: 100vw;
  /* background-image: url(./static/cool-background.png);
  */
  background: rgb(138, 98, 156);
  background: linear-gradient(
    90deg,
    rgba(138, 98, 156, 1) 0%,
    rgba(10, 6, 10, 1) 0%,
    rgba(117, 32, 107, 1) 81%,
    rgba(203, 55, 185, 1) 100%
  );
}
